useDynLib(mosaics)

import( methods, graphics, Rcpp, MASS, splines, lattice, IRanges )

export( constructBins, readBins, mosaicsFit, mosaicsPeak, mosaicsRunAll )

export( show, print, plot )

export( estimates )

export( export )
