useDynLib(mosaics)

import( methods, graphics, MASS, splines, lattice, IRanges )

importFrom(Rcpp, evalCpp)

export( constructBins, readBins, mosaicsFit, mosaicsPeak, mosaicsRunAll, generateWig )

export( show, print, plot )

export( estimates )

export( export )
